
.cont{

    width: 100%;
    height: 60vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont h2, .cont h1, .cont p{
    font-family:Helvetica Neue;
}

.cont h2{
    color: #213A59;
    letter-spacing: 0.96px;
    font-size: 28px;
}

.cont h1{
    color: #262626;
    font-size: 62px;
    letter-spacing: -1.84px;
}

.cont p{
    font-size: 12px;
    letter-spacing: 0.64px;
    color: #262626;
    max-width: 40%;
}

.cont button{
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #213a59;
    border-radius: 25px;
    padding: 0;
    size: 10px;
}

