@font-face {
    font-family: "helllight";
    src: url(/HelveticaNeueLt.ttf);
}

@font-face {
    font-family: "hellmed";
    src: url(/HelveticaNeue\ Medium.ttf);
}

@font-face {
    font-family: "hellbold";
    src: url(/Helvetica\ Neu\ Bold.ttf);
}

.cont {

    width: 100%;
    height: 60vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.cont h2 {
    color: #213A59;
    letter-spacing: 0.96px;
    font-size: 28px;
    font-weight: bold;
    font-family: "helllight";
}

.cont h1 {
    color: #262626;
    font-size: 62px;
    letter-spacing: -1.84px;
    font-weight: bold;
    font-family: "helllight";
    font-weight: bold;
}

.cont p {
    font-size: 19px;
    letter-spacing: 0.62px;
    color: #262626;
    max-width: 40%;
    margin-top: 15px;
    font-family: "helllight";
    font-weight: bolder;
}

.cont button {
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: #213a59;
    border-radius: 25px;
    padding: 0;
    size: 10px;
    font-size: 19px;
    font-family: "helllight";
}

@media only screen and (max-width: 750px) {
    .cont p {
        max-width: 80%;
    }
}