
@font-face {
    font-family: "hellbold";
    src: url(/Helvetica\ Neu\ Bold.ttf);
}
@font-face {
    font-family: "helllight";
    src: url(/HelveticaNeue\ Light.ttf);
}
@font-face {
    font-family: "hellmed";
    src: url(/HelveticaNeue\ Medium.ttf);
}

.cont{

    width: 100vw;
    /* height: 50vh; */
    border: 10px solid black;
    overflow: auto;
    display: flex;
    

}

.imger{

    max-width:100%;
    max-height:1000px;
    border: 2px solid black;
}

.myimg{

    width: 300px;
    height: 500px
}
.titleText{
    font-size: 30px;
    color: #000;
}
.para{
    margin-top: 8%;
    font-family: "helllight";
    font-weight: 650;
    letter-spacing: 0.48px;
    
}

.textPeople{
    font-size: 58px;
    font-weight: 600;
    font-family: "hellbold";
    font-weight: lighter;
    letter-spacing: 6.12px;
   
   
}
.headerContainer{
    margin-left: 5%;
}
.conatiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2F2F2;
    padding: 4%;

}
.CarouselConatiner{
    margin-left: 5%;
}

@media only screen and (max-width: 800px) {

    .cont{
        flex-direction: column;
    }
}