
/* *{
    font:Helvetica Neue;
} */

.homepage{
    height: 100vh;
    width: 100%;
    background-image: url('../assets/hom.png');
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-position: left top;
    /* margin: 5% 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 2%;
    /* border: 1px solid black; */
}


.homepage h1{
    color: var(--unnamed-color-f2f2f2);
    text-align: center;
    font-size: 5rem;
    font-family: Helvetica Neue;
    letter-spacing: -2px;
    color: #F2F2F2;
    margin: 0;
    /* border: 1px solid black; */
}

@media only screen and (max-width: 800px) {


    .homeTxt{

        margin-bottom: 15%;
    }

    .homepage{
 
    }

    .homeTxt h2{



    }
    .homeTxt p{

    }
 
}