

.cont{

    margin-top: 2%;
    /* height: 100vh; */
    width: 100%;


/* border: 1px solid black; */
}


.cardText{


    position: absolute;
    margin-top: 0;
    /* border: 1px solid black; */
    background-color: #213a5988;
    width: 100%;
    height: 70px;
    margin-top: -70px;
    

}

.cardText h3{

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.65px;
    font-family: Helvetica Neue;
    font-size: 18px;
    height: 100%;
    /* border: 5px solid rgb(12, 1, 59); */

}

.ImgCont{
    position: relative;
    padding: 0;
    /* border: 10px solid rgb(126, 0, 0); */

}

.imgCap{
    position: absolute;
    /* border: 1px solid rgb(238, 223, 13); */
}

.cont >div{
    
    margin: 0 auto;
    width: 85%;
    /* border: 1px solid black; */
}


.line{

    color: #213A59;
    margin: 4% 0;
    height:5px;
    width:100%;
    border-top:5px solid #213A59;
}




.mainTxt{
    color: #262626;
    text-transform: uppercase;
    font:Helvetica Neue;
    letter-spacing: 4.32px;
    font-size: 38px;
}