@font-face {
    font-family: "helllight";
    src: url(/HelveticaNeue\ Light.ttf);
}

.homepage {
    height: 100vh;
    width: 100%;
    background-image: url('../assets/MaskGroup5.png');
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: top;
    background-position: left top;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0;
}

.homeTxt {

    margin-bottom: 15%;

}

.homeTxt h2 {
    color: var(--unnamed-color-f2f2f2);
    text-align: center;
    font-size: 80px;
    font-family: "helllight";
    font-weight: 400;
    letter-spacing: -2px;
    color: #F2F2F2;
    margin: 0;
}

.homeTxt p {
    color: var(--unnamed-color-f2f2f2);
    text-align: center;
    font-size: 1.5rem;
    font-family: "helllight";
    letter-spacing: 1px;
    color: #F2F2F2;
}

@media only screen and (max-width: 800px) {
    .homeTxt {
        margin-bottom: 15%;
    }

    .homeTxt h2 {
        font-size: 3rem;
    }

    .homeTxt p {
        font-size: .8rem;
    }
}